cataclysm
cataclysm-tiles
data/*.template
save/
memorial/
save.*/
obj/
debug.log
logg.txt
bindist/
cataclysmdda-*
objwin/
cataclysm.exe
version.h
Cataclysm.exe
CataclysmWin.depend
CataclysmWin.layout
*.dll

# Visual Studio files
*.suo
*.user
Cataclysm.sdf
Release*/
Debug*/
*.opensdf

# Temporary and backup files
*~
\#*
*.bak
*.cbTemp
gmon.out

# System Files
Thumbs.db
.DS_Store

core
cataclysm.prof
astyle.sh
data/auto_pickup.txt
gprof.output
c
cur/

